@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

/* Neon rainbow accents */
.neon-rainbow {
  border-image: linear-gradient(to right, #ff00ff, #00ffff, #ffff00, #ff0000) 1;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
}
